section {
    height: 144px;
    background-color: #0A141E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Raleway';
    color: white;

    >img {
        height: 44px;
    }

    >div {
        display: flex;
        gap: 16px;
    }

    >div img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    >div>a {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    // &>div img:hover {
    //     scale: 1.05;
    // }
}

